<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSchemaName" value="true" />
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.paper.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.paper.model" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="PostgraduatePaper" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="PostgraduatePaper">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.paper.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.paper.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.paper.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.paper.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="paper:course">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Course" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:paper">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Paper" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:sc">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Sc" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:student">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Student" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:stutopic">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Stutopic" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:tc">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Tc" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:teacher">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Teacher" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:topic">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Topic" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:topicpaper">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="Topicpaper" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="paper:user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="PostgraduatePaper" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="useExample" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>